section#offers {
	/* background-attachment: fixed; */
	background-image: url(/img/offers/offers_bg.png), linear-gradient(-45deg, rgba(55,45,75,1) 0%, rgba(45,52,71,1) 100%);
	background-position: center;
	background-size: cover;
	/* padding: 130px 0 0 0; */
	height: 100vh;
	mix-blend-mode: lighten;
	position: relative;
	width: 100%;
}

/* cols_three */

section#offers .cols.cols_three {
	padding-top: 130px;
	overflow: hidden;
}

/* cols */

section#offers .cols {
    margin: 0;
	width: 100%;
}

/* skew */

section#offers .cols_three .col_a .skew {
	background-image: url(/img/offers/herr_offer.png);
}

section#offers .cols_three .col_b .skew {
	background-image: url(/img/offers/dam_offer1.png);
}

section#offers .cols_three .col_c .skew {
	background-image: url(/img/offers/barn_offer.png
	);
}

section#offers .col_a .skew,
section#offers .col_b .skew,
section#offers .col_c .skew {
	background-color: rgb(52,73,94,1);
	background-size: cover;
    background-position: center;
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
} 

/* :after */

section#offers .col_a .skew:after,
section#offers .col_b .skew:after,
section#offers .col_c .skew:after {
    background-color: rgba(232,232,232,1);
    bottom: -67px;
	content: '';
    display: block;
    height: 109px;
    left: 0;
    position: absolute;
    right: 0;
    transform: rotate(-4deg);
    width: 120%;
}

/* text */

section#offers .cols_three .text {
	background-color: rgba(255,255,255,1);
	text-align: center;
}

section#offers .cols_three .text h5 {
	padding: 20px 0;
}

section#offers .cols_three .text h5:first-child {
	padding: 50px 0 15px 0;
}

section#offers .cols_three .text .button {
	margin: 35px 0 50px 0;
}

section#offers .cols_three .price {
	background-color: rgba(232,232,232,1);
	text-align: center;
	padding: 0 0 30px 0;
}

section#offers .cols_three .col .skew h2 {
	color: rgba(255,255,255,1);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-100%) translateX(-50%);
}

section#offers .col:nth-child(1), section#offers .col:nth-child(2) {
	margin-right: 30px;
    width: calc(33% - 20px);
}

section#offers .col:nth-child(3) {
    width: calc(34% - 20px);
}