.nav {
	background-position: center;
	background-size: cover;
	left: 0;
	padding: 80px 0;
	position: fixed;
	top: 0;
	transition: background-color 150ms ease-out, padding 300ms ease-out, height 300ms ease-out;
	width: 100%;
	z-index: 98;
}

.scrolled {
	background-blend-mode: soft-light;
	background-color: rgba(43,42,60,1);
	padding: 30px 0;
}

/* menu container */

.nav .menu_container {
	float: right;
	height: 100%;
	line-height: 50px;
	max-height: 50px;
	transition: max-height 300ms ease-out;
}

.nav .menu_container .button {
	margin: 0 50px 0 0;
}

.nav .menu_container .button:last-child {
	margin: 0;
}

.nav a.button {
	color: rgba(255,255,255,1);
}

/* hover */
.nav a.button:hover {
	color: rgba(250,205,95,1);
}