.nav {
	background-position: center;
	background-size: cover;
	left: 0;
	padding: 80px 0;
	position: fixed;
	top: 0;
	transition: background-color 150ms ease-out, padding 300ms ease-out, height 300ms ease-out;
	width: 100%;
	z-index: 98;
}

.scrolled {
	background-blend-mode: soft-light;
	background-color: rgba(43,42,60,1);
	padding: 30px 0;
}

/* menu container */

.nav .menu_container {
	float: right;
	height: 100%;
	line-height: 50px;
	max-height: 50px;
	transition: max-height 300ms ease-out;
}

.nav .menu_container .button {
	margin: 0 50px 0 0;
}

.nav .menu_container .button:last-child {
	margin: 0;
}

.nav a.button {
	color: rgba(255,255,255,1);
}

/* hover */
.nav a.button:hover {
	color: rgba(250,205,95,1);
}

/* Links (for hamburger) */

.nav .links {
	display: none;
	pointer-events: none;
}

.nav .links ul {
	pointer-events: all;
}

/* Hamburger */

.nav .hamburger {
	cursor: pointer;
	display: none;
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);
	width: 45px;
	z-index: 15;
}

/* span */

.nav .hamburger span {
	background-color: rgba(255,255,255,1);
	display: block;
	height: 3px;
	margin: 8px auto;
	transition: background-color 300ms ease-out;
	width: 45px;
}

.nav .links.out + .hamburger span:nth-child(1) {
	animation: hamburger_top_reverse 300ms ease-out forwards;
}

.nav .links.in + .hamburger span:nth-child(1) {
	animation: hamburger_top 300ms ease-out forwards;
}

@keyframes hamburger_top {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(11px) rotateZ(0deg);
		transform-origin: 50% 50%;
	}
	100% {
		transform: translateY(11px) rotateZ(-45deg);
	}
}

@keyframes hamburger_top_reverse {
	0% {
		transform: translateY(11px) rotateZ(-45deg);
	}
	50% {
		transform: translateY(11px) rotateZ(0deg);
		transform-origin: 50% 50%;
	}
	100% {
		transform: translateY(0px);
	}
}

.nav .links.out + .hamburger span:nth-child(2) {
	animation: hamburger_mid_reverse 300ms ease-out forwards;
}

.nav .links.in + .hamburger span:nth-child(2) {
	animation: hamburger_mid 300ms ease-out forwards;
}

@keyframes hamburger_mid {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes hamburger_mid_reverse {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

.nav .links.out + .hamburger span:nth-child(3) {
	animation: hamburger_bottom_reverse 300ms ease-out forwards;
}

.nav .links.in + .hamburger span:nth-child(3) {
	animation: hamburger_bottom 300ms ease-out forwards;
}

@keyframes hamburger_bottom {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-11px) rotateZ(0deg);
		transform-origin: 50% 50%;
	}
	100% {
		transform: translateY(-11px) rotateZ(45deg);
	}
}

@keyframes hamburger_bottom_reverse {
	0% {
		transform: translateY(-11px) rotateZ(45deg);
	}
	50% {
		transform: translateY(-11px) rotateZ(0deg);
		transform-origin: 50% 50%;
	}
	100% {
		transform: translateY(0px);
	}
}

@media only screen and (max-width: 1300px) {

	.nav {
		background-blend-mode: soft-light;
		background-color: rgba(43,42,60,1);
		height: 50px;
		padding: 30px 0;
	}

	.nav .wrapper a img {
		top: 50%;
		position: absolute;
		width: 45%;
		transform: translateY(-50%);
	}

	.nav .wrapper {
		padding: 0 50px;
	}

	.nav .menu_container {
		display: none;
	}

	.nav .wrapper {
        overflow: hidden;
    }

	.nav .hamburger {
		display: block;
	}

	.nav .links {
		display: block;
	}

	.nav .links.in + .hamburger span {
		background-color: rgba(255,255,255,1);
	}

	.nav .links {
		background-color: rgba(43,42,60,1);
		height: 0;
		left: 0px;
		opacity: 0;
		pointer-events: none;
		position: fixed;
		top: 0px;
		transition: opacity 300ms ease-out;
		width: 100vw;
		z-index: 10;
	}

	.nav .links.in,
	.nav .links.out {
		height: 100vh;
	}

	.nav .links.in,
	.nav .links.in ul {
		opacity: 1;
		pointer-events: all;
	}

	.nav .links a::after {
		display: none;
	}

	/* flags */

	.nav .links .flag_container {
		display: inline-block;
		overflow: hidden;
	}

	.nav .links .flags {
		overflow: auto;
	}

	.nav div.links.in div.flag {
		height: 60px;
		margin: 0 30px 0 0;
		width: 60px;
	}

	.nav div.links.in div.flag:last-child {
		margin-right: 0;
	}

	/* ul */

	.nav .links ul {
		left: 50%;
		opacity: 0;
		padding: 0px;
		pointer-events: none;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
		width: 100%;
		z-index: 2;
	}

	.nav[data-animate="in"] .links ul a {
		color: rgba(255,255,255,1);
		display: block;
		height: 100px;
		font-size: 40px;
		margin: 10px 0px;
		width: 100%;
	}

	.nav:not(.intro) .links ul a.button.active {
		color: rgba(250,205,95,1);
	}

	.nav .links ul a[data-href="contact"],
	.nav .links ul a[data-href="stories"],
	.nav .links ul a[data-href="concepts"],
	.nav .links ul a[data-href="stores"],
	.nav .links ul div.flag {
		opacity: 0;
	}

	.nav[data-animate="in"]  .links.in ul a[data-href="stories"] {
		animation: left_in 150ms ease-out 150ms forwards;
	}

	.nav[data-animate="in"]  .links.in ul a[data-href="concepts"] {
		animation: left_in 150ms ease-out 225ms forwards;
	}

	.nav[data-animate="in"]  .links.in ul a[data-href="stores"] {
		animation: left_in 150ms ease-out 300ms forwards;
	}

	.nav[data-animate="in"]  .links.in ul a[data-href="contact"] {
		animation: left_in 150ms ease-out 375ms forwards;
	}

	.nav[data-animate="in"]  .links.in ul div.flag:nth-of-type(1) {
		animation: up_in_mobile 150ms ease-out 450ms forwards;
	}

	.nav[data-animate="in"]  .links.in ul div.flag:nth-of-type(2) {
		animation: up_in_mobile 150ms ease-out 525ms forwards;
	}

	.nav[data-animate="in"]  .links.in ul div.flag:nth-of-type(3) {
		animation: up_in_mobile 150ms ease-out 600ms forwards;
	}

	.nav[data-animate="in"]  .links.in ul div.flag:nth-of-type(4) {
		animation: up_in_mobile 150ms ease-out 675ms forwards;
	}

	.nav[data-animate="in"]  .links.in ul div.flag:nth-of-type(5) {
		animation: up_in_mobile 150ms ease-out 725ms forwards;
	}

}