.booking-calendar {
	  margin: 220px 0 80px 0;
	  position: relative;
}

.bookingtest {
  	background-image: url(/img/background/offers.jpg), linear-gradient(-45deg, rgba(55,45,75,1) 50%, rgba(45,52,71,1) 100%);
	background-position: center;
	background-size: 100% 100%;
	mix-blend-mode: lighten;
}

/* list */

.list {
	margin-top: 330px;
	background: red;
	padding: 58px;
	z-index: 10;
	position: absolute;
	/* top: 50%; */
	left: 50%;
	transform: translateX(-50%);
	width: 50%;
}

.list .row {
	min-height: auto;
	padding: 30px 0;
	opacity: 1;
	overflow: auto;
	position: relative
}

.list .row:first-child {
	border-top: none;
}

.list .row h4 {
	/* float: left; */
	margin: 0;
}

.list .row p {
	/* float: right; */
}

.list .row p.small {
	bottom: auto;
	left: auto;
	position: relative;
}

h2,
p:not(.small) {
	margin: 0 0 15px 0;
}

.list .row .button {
	top: 50%;
	right: 0;
	position: absolute;
	transform: translateY(-50%);
}

/* icons */

.list .icons_new {
	vertical-align: bottom;
	margin: 0 5px 0 0;
}
.booking-calendar .week .day-box .day.booked-day:before {
	left: 0;
	transform: skewX(0deg);
}
.booking-calendar .week .day-box .day.booked-night:after {
	display: none;
}

/* icons arrows */

.booking-calendar .header .header-content .icon-previous {
    left: 130px;
}

.booking-calendar .header .header-content .icon-next {
    right: 130px;
}

.booking-calendar .header .header-content .month-label {
    pointer-events: none;
}