.booking-calendar {
	  margin: 220px auto 80px auto;
	  position: relative;
	  width: 50%;
}

.bookingtest {
  	background-image: url(/img/background/offers.jpg), linear-gradient(-45deg, rgba(55,45,75,1) 50%, rgba(45,52,71,1) 100%);
	background-position: center;
	background-size: 100% 100%;
	mix-blend-mode: lighten;
}

/* list */

.list {
	float: right;
	display: none;
	margin-top: 220px;
	background: #f2f2f2;
	width: 45%;
	position: relative;
	margin-bottom: 50px;
}

.list .row {
	min-height: auto;
	padding: 30px;
	opacity: 1;
	overflow: auto;
	position: relative
}

.list .row:nth-of-type(1) {
	margin-top: 80px;
}

.list .row p.small {
	bottom: auto;
	left: auto;
	position: relative;
}

h2,
p:not(.small) {
	margin: 0 0 15px 0;
}

.list .row .button {
	top: 50%;
	right: 30px;
	position: absolute;
	transform: translateY(-50%);
}

/* icons */

.list .icons_new {
	vertical-align: bottom;
	margin: 0 5px 0 0;
}

.list .close_list {
	cursor: pointer;
	right: 0;
	position: absolute;
	right: 25px;
	top: 25px;
}

/* confirm_booking */
.confirm_booking {
	background-color: red;
	height: auto;
	margin: 220px 0 0 0;
	position: relative;
	/* width: 100%; */
	z-index: 30;
}

.booking-calendar .week .day-box .day.booked-day:before {
	left: 0;
	transform: skewX(0deg);
}
.booking-calendar .week .day-box .day.booked-night:after {
	display: none;
}

/* icons arrows */

.booking-calendar .header .header-content .icon-previous {
    left: 130px;
}

.booking-calendar .header .header-content .icon-next {
    right: 130px;
}

.booking-calendar .header .header-content .month-label {
    pointer-events: none;
}